# Exercise

Try read in at least 3 different datasets from here: https://www.kaggle.com/datasets
Make sure that the column names are read in correctly. Observe the data types for each column and print out summary of the resulting dataframe.

1) What do the different parameters mean in read_csv?
2) Can you read data in from a hyperlink?
3) Can you read in data partially, meaning can you skip some rows and if yes, then how?

In [1]:
import numpy as np
import pandas as pd

# Abalone DataSet

In [2]:
# Data import

abalone = pd.read_csv("abalone.csv")

In [3]:
# Having a look on the dataset

abalone.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [4]:
# Shape of the datset

abalone.shape

(4177, 9)

In [5]:
# Dataset consiting columns

abalone.columns

Index(['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings'],
      dtype='object')

In [6]:
# Individual variable type of the datasets

abalone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
Sex               4177 non-null object
Length            4177 non-null float64
Diameter          4177 non-null float64
Height            4177 non-null float64
Whole weight      4177 non-null float64
Shucked weight    4177 non-null float64
Viscera weight    4177 non-null float64
Shell weight      4177 non-null float64
Rings             4177 non-null int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [7]:
#type(abalone)

# US Drought Dataset

In [8]:
# Dataset importing 

usdrought = pd.read_csv("dm_export_20000101_20180415.csv")

In [9]:
# Having a look on the dataset

usdrought.head()

,ReleaseDate,AreaOfInterest,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20180410,TOTAL,"204,432,995.85","46,331,775.57","29,478,692.62","24,519,654.40","6,064,704.49","344,412.98",2018-04-10,2018-04-16,2
1,20180403,TOTAL,"206,468,222.83","44,568,072.07","30,266,535.24","23,536,636.50","6,207,278.31","125,490.97",2018-04-03,2018-04-09,2
2,20180327,TOTAL,"203,228,498.95","47,410,154.16","32,733,805.38","21,860,838.76","5,816,713.14","122,225.52",2018-03-27,2018-04-02,2
3,20180320,TOTAL,"203,277,687.54","48,484,822.70","29,381,867.65","25,367,920.95","4,617,423.56","42,513.51",2018-03-20,2018-03-26,2
4,20180313,TOTAL,"199,461,984.05","52,059,398.61","29,901,042.06","26,762,410.95","2,944,886.73","42,513.51",2018-03-13,2018-03-19,2

In [10]:
#Shape of the dataset

usdrought.shape

(954, 11)

In [11]:
usdrought.columns

Index(['ReleaseDate', 'AreaOfInterest', 'None', 'D0', 'D1', 'D2', 'D3', 'D4',
       'ValidStart', 'ValidEnd', 'StatisticFormatID'],
      dtype='object')

In [12]:
usdrought.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 954 entries, 0 to 953
Data columns (total 11 columns):
ReleaseDate          954 non-null int64
AreaOfInterest       954 non-null object
None                 954 non-null object
D0                   954 non-null object
D1                   954 non-null object
D2                   954 non-null object
D3                   954 non-null object
D4                   954 non-null object
ValidStart           954 non-null object
ValidEnd             954 non-null object
StatisticFormatID    954 non-null int64
dtypes: int64(2), object(9)
memory usage: 82.1+ KB

In [13]:
#usdrought.describe()

# Water Conservation Supplier Compliance

In [14]:
# Dataset import 

water1 = pd.read_csv("water1.csv")
water2 = pd.read_csv("water2.csv")
water3 = pd.read_csv("water3.csv")
water1.head()

,August 2016 Non-filers (The following suppliers did not submit July 2016 data by September 19,2016)
0,Anderson City of,NaN
1,Calexico City of,NaN
2,Cloverdale City of,NaN
3,Escondido City of,NaN
4,Hi-Desert Water District,NaN

In [15]:
water1.shape

(20, 2)

In [16]:
water1.columns

Index(['August 2016 Non-filers (The following suppliers did not submit July 2016 data by September 19', ' 2016)'], dtype='object')

In [17]:
water2.head()

,July 2016 Non-filers (The following suppliers did not submit July 2016 data by September 19,2016)
0,Cloverdale City of,NaN
1,Lemoore City of,NaN
2,Porterville City of,NaN
3,Ukiah City of,NaN

In [18]:
water3.head()

,Supplier Name,Hydrologic Region,State-mandated Conservation Standard - Previous (3/1/2016),State-mandated Conservation Standard - Current (Effective 6/1/2016),Did Supplier Self-certify?,Enforceable Cumulative Percent Savings (as compared to 2013) - June 2015-Aug 2016,June 2016 to Aug 2016 Self-certified?,Applicable Cumulative Savings by Supplier (as compared to 2013),Missed Conservation Standard By,Order Status,Monthly Savings (as compared to 2013) - Aug 2015,Monthly Savings (as compared to 2013) - Aug 2016,Estimated Aug 2016 Monthly R-GPCD,Total Population Served
0,California City City of,South Lahontan,28%,28%,No,13.1%,18.0%,13.1%,14.9%,C,16.8%,20.5%,148.5,"14,120"
1,Yucaipa Valley Water District,South Coast,34%,20%,Yes,18.3%,7.1%,7.1%,12.9%,NaN,26.4%,11.9%,260.0,"45,018"
2,Sanger City of,Tulare Lake,26%,26%,No,17.3%,12.4%,17.3%,8.7%,NaN,38.0%,17.2%,181.1,"25,664"
3,Adelanto City of,South Lahontan,16%,16%,No,9.3%,-10.3%,9.3%,6.7%,C,20.5%,-30.6%,125.5,"29,023"
4,Red Bluff City of,Sacramento River,33%,33%,No,27.8%,19.5%,27.8%,5.2%,NaN,42.4%,30.8%,202.9,"14,076"

In [19]:
water = pd.concat([water1,water2,water3], axis=1, sort=False)

In [20]:
water.head()

,August 2016 Non-filers (The following suppliers did not submit July 2016 data by September 19,2016),July 2016 Non-filers (The following suppliers did not submit July 2016 data by September 19,2016),Supplier Name,Hydrologic Region,State-mandated Conservation Standard - Previous (3/1/2016),State-mandated Conservation Standard - Current (Effective 6/1/2016),Did Supplier Self-certify?,Enforceable Cumulative Percent Savings (as compared to 2013) - June 2015-Aug 2016,June 2016 to Aug 2016 Self-certified?,Applicable Cumulative Savings by Supplier (as compared to 2013),Missed Conservation Standard By,Order Status,Monthly Savings (as compared to 2013) - Aug 2015,Monthly Savings (as compared to 2013) - Aug 2016,Estimated Aug 2016 Monthly R-GPCD,Total Population Served
0,Anderson City of,NaN,Cloverdale City of,NaN,California City City of,South Lahontan,28%,28%,No,13.1%,18.0%,13.1%,14.9%,C,16.8%,20.5%,148.5,"14,120"
1,Calexico City of,NaN,Lemoore City of,NaN,Yucaipa Valley Water District,South Coast,34%,20%,Yes,18.3%,7.1%,7.1%,12.9%,NaN,26.4%,11.9%,260.0,"45,018"
2,Cloverdale City of,NaN,Porterville City of,NaN,Sanger City of,Tulare Lake,26%,26%,No,17.3%,12.4%,17.3%,8.7%,NaN,38.0%,17.2%,181.1,"25,664"
3,Escondido City of,NaN,Ukiah City of,NaN,Adelanto City of,South Lahontan,16%,16%,No,9.3%,-10.3%,9.3%,6.7%,C,20.5%,-30.6%,125.5,"29,023"
4,Hi-Desert Water District,NaN,NaN,NaN,Red Bluff City of,Sacramento River,33%,33%,No,27.8%,19.5%,27.8%,5.2%,NaN,42.4%,30.8%,202.9,"14,076"

In [21]:
water.columns

Index(['August 2016 Non-filers (The following suppliers did not submit July 2016 data by September 19',
       ' 2016)',
       'July 2016 Non-filers (The following suppliers did not submit July 2016 data by September 19',
       ' 2016)', 'Supplier Name', ' Hydrologic Region',
       ' State-mandated Conservation Standard - Previous (3/1/2016)',
       ' State-mandated Conservation Standard - Current (Effective 6/1/2016)',
       ' Did Supplier Self-certify?',
       ' Enforceable Cumulative Percent Savings (as compared to 2013) - June 2015-Aug 2016',
       ' June 2016 to Aug 2016 Self-certified?',
       ' Applicable Cumulative Savings by Supplier (as compared to 2013)',
       ' Missed Conservation Standard By', ' Order Status',
       ' Monthly Savings (as compared to 2013) - Aug 2015',
       ' Monthly Savings (as compared to 2013) - Aug 2016',
       ' Estimated Aug 2016 Monthly R-GPCD', ' Total Population Served'],
      dtype='object')

# read_csv mean

pd.read_csv means, telling to Pandas to rad the "csv" file which is the dataset store already in the same directory of Python file or from URL.

# Reading data from URL

In [22]:
# Abalone datset importing from URL
url ="https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data"

In [23]:
abalone_url = pd.read_csv(url)

In [24]:
abalone_url.head()

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

# Partially reading the dataset

In [25]:
# Skipping columns or dropping

abalone.drop(["Length","Diameter"], axis=1)

,Sex,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.080,0.2050,0.0895,0.0395,0.0550,7
5,I,0.095,0.3515,0.1410,0.0775,0.1200,8
6,F,0.150,0.7775,0.2370,0.1415,0.3300,20
7,F,0.125,0.7680,0.2940,0.1495,0.2600,16
8,M,0.125,0.5095,0.2165,0.1125,0.1650,9
9,F,0.150,0.8945,0.3145,0.1510,0.3200,19
10,F,0.140,0.6065,0.1940,0.1475,0.2100,14
11,M,0.110,0.4060,0.1675,0.0810,0.1350,10
12,M,0.135,0.5415,0.2175,0.0950,0.1900,11
13,F,0.145,0.6845,0.2725,0.1710,0.2050,10
14,F,0.100,0.4755,0.1675,0.0805,0.1850,10
15,M,0.130,0.6645,0.2580,0.1330,0.2400,12
16,I,0.085,0.2905,0.0950,0.0395,0.1150,7
17,F,0.100,0.4510,0.1880,0.0870,0.1300,10
18,M,0.080,0.2555,0.0970,0.0430,0.1000,7
19,M,0.100,0.3810,0.1705,0.0750,0.1150,9
20,M,0.095,0.2455,0.0955,0.0620,0.0750,11
21,I,0.100,0.2255,0.0800,0.0490,0.0850,10
22,F,0.155,0.9395,0.4275,0.2140,0.2700,12
23,F,0.135,0.7635,0.3180,0.2100,0.2000,9
24,F,0.165,1.1615,0.5130,0.3010,0.3050,10
25,F,0.140,0.9285,0.3825,0.1880,0.3000,11
26,F,0.185,0.9955,0.3945,0.2720,0.2850,11
27,M,0.140,0.9310,0.3560,0.2340,0.2800,12
28,M,0.180,0.9365,0.3940,0.2190,0.2950,15
29,M,0.140,0.8635,0.3930,0.2270,0.2000,11
...,...,...,...,...,...,...,...
4147,M,0.195,1.6645,0.7270,0.3600,0.4450,11
4148,M,0.175,2.0505,0.8005,0.5260,0.3550,11
4149,I,0.070,0.1240,0.0630,0.0215,0.0300,6
4150,I,0.080,0.1400,0.0565,0.0365,0.0460,7
4151,I,0.075,0.1695,0.0835,0.0355,0.0410,6
4152,I,0.090,0.2180,0.0995,0.0545,0.0615,7
4153,I,0.115,0.3840,0.1885,0.0715,0.1100,8
4154,I,0.095,0.3930,0.2190,0.0750,0.0885,6
4155,I,0.110,0.3805,0.1575,0.0895,0.1150,6
4156,M,0.110,0.4895,0.2185,0.1070,0.1460,8
4157,M,0.140,0.5135,0.2410,0.1045,0.1550,8
4158,I,0.110,0.4495,0.2010,0.0890,0.1400,8
4159,F,0.135,0.8025,0.3500,0.1615,0.2590,9
4160,F,0.165,1.0530,0.4580,0.2170,0.3000,11
4161,F,0.170,0.9945,0.4255,0.2630,0.2845,11
4162,M,0.100,0.3175,0.1370,0.0680,0.0920,8
4163,I,0.085,0.3440,0.1810,0.0695,0.0790,7
4164,I,0.100,0.2845,0.1255,0.0635,0.0810,7
4165,I,0.085,0.3035,0.1500,0.0505,0.0880,7
4166,I,0.115,0.4990,0.2320,0.0885,0.1560,10
4167,M,0.125,0.5770,0.2690,0.1265,0.1535,9
4168,F,0.125,0.6150,0.2865,0.1230,0.1765,8
4169,M,0.165,0.7910,0.3750,0.1800,0.1815,10
4170,M,0.130,0.8395,0.3155,0.1955,0.2405,10
4171,M,0.155,0.8675,0.4000,0.1720,0.2290,8
4172,F,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.195,1.9485,0.9455,0.3765,0.4950,12